body {
    width: 100%;
    font-size: 1rem;
}

#textInput {
    margin: 2% 2% 4% 1%;
    background-color: rgb(247, 232, 205);
}

#countButton {
    padding: 2%;
    margin-left: 23%;
    background-color: tomato;
    text-transform: uppercase;
}

#lettersDiv {
    width: 98%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -1.5%;
    border: .1px solid rgb(180, 176, 176);
    padding: 0;
}

#wordsDiv {
    width: 98%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -1.5%;
    border: .1px solid rgb(180, 176, 176);
    padding: 0;
}

@media only screen and (min-width: 800px) {
    body {
        text-align: center;
        overflow: hidden;
    }
    #textInput {
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgb(245, 220, 173);
        width: 60%;
        text-align: center;
    }
    #countButton {
        padding: 1%;
        margin: 0 auto;
        background-color: rgb(243, 174, 161);
        text-transform: uppercase;
        margin-bottom: 1%;
    }
   div #lettersDiv {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1%;
        border: .1px solid rgb(180, 176, 176);
        padding: 0;
    }
  div  #wordsDiv {
        width: 80%;
        margin: 0 auto;
        border: .1px solid rgb(180, 176, 176);
        padding: 0;
    }
}